/* base rule */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
p,
li,
a {
  font-family: "Urbanist", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  color: var(--para-color);
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}
/* theme */
:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  /* --bg-color: #ffffff; */
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
}
/* layout */
.container {
  max-width: 142rem;
  margin: 0 auto;
  padding: 9.6rem 2.4rem;
}
.grid {
  display: grid;
}
.grid__two--cols {
  grid-template-columns: repeat(2, 1fr);
}

/* module/reusable */
.btn {
  padding: 1.2rem 3.2rem;
  background-color: var(--main-color);
  display: inline-block;
  color: var(--white-color);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}
/* states */

.btn:hover {
  background-color: var(--bnt-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
}
/*navbar Serction Start */
.section__navbar {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.section__navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;
}

.section__navbar .container .nav__ul ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.4rem;
  text-transform: capitalize;

  & li a {
    color: var(--heading-color);
    font-weight: 600;
    display: inline-block;
    font-size: 1.6rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 0;
      border-bottom: 0.2rem solid var(--main-color);
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
    }
  }

  & li a:hover::after {
    width: 100%;
  }
}

/*navbar Serction End */
/*Hero Serction Start */
main {
  position: relative;
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
}
.section__hero .grid {
  align-items: center;
  gap: 6.4rem;
  & .hero__subheading {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.7rem;
    word-spacing: 0.2rem;
    font-weight: 700;
    color: var(--hero-heading-color);
  }
  & .hero__heading {
    font-size: 5.8rem;
    font-family: "Jost";
    color: var(--hero-heading-color);
    font-weight: 900;
    line-height: 1.5;
  }
  & .hero__para {
    color: var(--white-color);
    margin: 2rem 0 4rem 0;
  }
}

.section__hero--img img {
  width: 100%;
  height: auto;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

/* shape divider */
.custom-shape-divider-bottom-1702057429 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1702057429 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1702057429 .shape-fill {
  fill: #ffffff;
}
/*Hero Serction End */
